createdAt: "2019-07-21T20:44:17.186Z"
updatedAt: "2019-07-21T20:55:33.170Z"
type: "MARKDOWN_NOTE"
folder: "9068a7781735c398aa8a"
title: "Timeline"
tags: []
content: '''
  # Timeline
  
  #### USC Undergraduate Start
  - Date: August 2012
  - Degree: B.S. in Computer Science and Business Administration
  - Notable Coursework: 
    - Data Structures
    - Algorithms
    - Modern C++
    - Operating Systems
    - Business Administration
    - Macro and Micro Economics
    - Statistics
  
  #### USC Masters Start
  
  - Date: January 2016
  - Degree: M.S. in Computer Science
  - Notable Coursework: 
    - Foundations of Artificial Intelligence
    - Artificial Intelligence in Games
    - Data Bases
    - Advanced Analysis on Algorithms
  
  #### USC Undergrad End
  
  - Date: May 2016
  - Degree: B.S. in Computer Science and Business Administration
  
  #### USC Graduate End
  
  - Date: December 2016
  - Degree: M.S. in Computer Science
'''
linesHighlighted: []
isStarred: false
isTrashed: false
